<section class="thirteen columns">
    <h1>Education</h1>
    <article class="education-class">
        <header>
            <h1>Software Engineering</h1>
            <span>Universidad Nacional de Itapua</span>
            <span><address>Encarnación, PY</address><time>2011 to 2018</time></span>
        </header>
        <p>
            <ul>
                <li>
                 Final Project Degree: <i>Image Retrieval using Word Embeddings. Application to a Visual Agenda for People with ASD.   </i>
                </li>
                <li>Tags: <em>Deep Learning</em>, <em>Natural Language Processing</em>, <em>Information Retrieval</em>, </li>
                <li>
                    Programming Environment: <em>Python & Django</em>, <em>Bootstrap</em>, <em>MySQL</em>, <em>word2vec</em>
                </li>
                <li>
                    Articles, project sample, source code and more information at: <a href="https://www.andreszorrillav.com/oikoitea/">https://www.andreszorrillav.com/oikoitea/</a>
                </li>
            </ul>
        </p>
    </article>
</section>




<style type="text/css">
    .education-class li{
        margin-bottom: 5px;
    }
</style>