<section class="twelve columns">
    <h1>Projects and Employment</h1>
    <article class="employment-class">
        <header>
            <h1>Back-End Developer - Junior Researcher</h1>
            <span>Universidad Nacional de Itapúa <address>(Encarnación, PY)</address><time>2016 to Present</time></span>
        </header>
            <ul>
                <li>
                    Development of MisionPY, a mobile application for "smart visiting" of Paraguayan cultural heritage sites, namely the Jesuistics Missions.         
                </li>
                <li>
                    This app allows to use the camera of the mobile to take images of the objects around the visitor, like parts or details of the building, and uses computer vision to provide in-depth information about them.
                </li>
                <li>Programming Environment: <em>Python</em> & <em>Django</em>, <em>OpenCV</em>, <em>Ionic</em></li>
                <li>More Info: http://umetech.uni.edu.py/proyecto</li>
            </ul>
    </article>
    <article class="employment-class">
        <header>
            <h1>Software Systems Developer - Ruby on Rails</h1>
            <span>Universidad Nacional de Itapúa <address>(Encarnación, PY)</address><time>2017 to 2018</time></span>
        </header>
<!--
        <p style="margin: 5px 0 5px 0;">
            
        </p>
-->
            <ul>
                <li>
                    Worked in the development of a Management Information System for the Academic Dependecies at Headquarters of Universidad Nacional de Itapúa (www.uni.edu.py).
                </li>
                <li>Programming Environment: <em>Ruby on Rails</em>, <em>Bootstrap</em>, <em>MySQL</em>, <em>Jquery</em></li>
                <li>Source code, screenshots and more info: <a href="http://andreszorrillav.com/academic-system">http://andreszorrillav.com/academic-system</a></li>
            </ul>
    </article>
    <article class="employment-class">
        <header>
            <h1>Software Systems Developer - Django</h1>
            <span>Universidad Nacional de Itapúa <address>(Encarnación, PY)</address><time>2015 to 2016</time></span>
        </header>
<!--<p style="margin: 5px 0 5px 0;"></p>
-->
            <ul>
                <li>
                    HR Control is a Human Resources Information System, that ensure the easy management of human resources data and business processes; including vacation and permits control, attendance and time reports, and other functions.

                </li>
                <li>Programming Environment: <em>Python & Django</em>, <em>Bootstrap</em>, <em>MySQL</em>, <em>wkhtmltopdf</em></li>
                <li>
                    Source code, screenshots, project sample and more info at: <a href="https://www.andreszorrillav.com/uni-rrhh/"> https://www.andreszorrillav.com/uni-rrhh/</a>
                </li>
            </ul>
    </article>
</section>


<style type="text/css">
    .employment-class li{
        margin-bottom: 5px;
        text-align: justify;
    }
</style>