<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Back-End Developer - Junior Researcher</h1>
            <span>Universidad Nacional de Itapua <address>(Encarnación, PY)</address><time>2016 to Present</time></span>
        </header>
        <p>MisionPY: a mobile application for "smart visiting" of Paraguayan cultural heritage sites, namely the Jesuistics Missions. This app allows to use the camera of the mobile to take images of the objects around the visitor, like parts or details of the building, and uses computer vision to provide in-depth information about them.
        
        </p>
        <p>
            <u>Technologies:</u>
            <ul>
                <li>Python & Django</li>
                <li>OpenCV</li>
                <li></li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Software Systems Developer - Ruby on Rails</h1>
            <span>Universidad Nacional de Itapua <address>(Encarnación, PY)</address><time>2017 to 2018</time></span>
        </header>
        <p>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>Bootstrap</li>
                <li>MySQL</li>
                <li>wkhtmltopdf</li>
            </ul>
            Source code, screenshots and more info: https://www.andreszorrillav.com/uni-rrhh/
        </p>
    </article>
    <article>
        <header>
            <h1>Software Systems Developer</h1>
            <span>Universidad Nacional de Itapua <address>(Encarnación, PY)</address><time>2015 to 2016</time></span>
        </header>
        <p>
            HR Control is a management system that manages the Human Resources of an company. 
        </p>
    </article>
</section>
