<section class="thirteen columns">
    <h1>Interest</h1>
    <article>
    	<ul>
    		<li>Hobbies: 
    					<span class="w3-tag w3-round-size w3-green">Music</span>, 
    					<span class="w3-tag w3-round-size w3-green">Basketball</span>,
    					<span class="w3-tag w3-round-size w3-green">Cycling</span>,
    					<span class="w3-tag w3-round-size w3-green">Travelling</span>
    		<li>Technologies: 
    					<span class="w3-tag w3-round-size w3-green">Web Development</span>, 
    					<span class="w3-tag w3-round-size w3-green">IoT</span>, 
    					<span class="w3-tag w3-round-size w3-green">Computer Vision</span>.</li>
    	</ul>
    </article>
</section>